
body{
    background-image: url("a1.jpg");
    opacity: inherit;
}
.container{
    color: rgb(255, 255, 255);
    font-size: medium;   
}

.footer{
    font-family: Georgia, serif;
    color: aliceblue;
    text-align: center;
    align-content: center;
    letter-spacing: 0.05cm;
    word-spacing: 0.15cm;
    font-size: larger;
    font-weight: 50%;
    
    padding-top: 18%;
}
